.footer {
  width: 105px;
  height: 16px;
  top: 1340px;
  left: 668px;
  opacity: 1;
  display: flex;
}

.footer__copyright {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121;
  opacity: 70%;
  margin: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}
